ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
}

header a i {
  color: white;
  font-size: 2em;
  padding: 0.1em;
}

header nav ul {
  display: flex;
  gap: 0.8em;
  margin-right: 1em;
}

header nav ul li a {
  font-size: 1.1em;
  color: white;
}

body {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.seccion-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(207, 231, 207);
  margin: 25px 150px 25px 150px;
  padding: 30px;
}

.acerca-de {
  display: flex;
  flex-direction: column;
  text-align: end;
  padding: 15px;
}

.seccion-2 img {
  overflow-anchor: auto;
}


footer {
  display: flex;
  flex-direction: column;
  background-color: grey;
}

.bottom-frase {
  display: flex;
  flex-direction: column;
}

.bottom-frase p {
  display: flex;
  justify-content: center;
}

.mas-informacion{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.mas-informacion h3 {
  color: white;
  font-size: 1.5em;
  padding: 0.1em;
}

.mas-informacion nav ul {
  display: flex;
  gap: 0.8em;
  margin-right: 1em;
}

.mas-informacion nav ul li a {
  font-size: 1.1em;
  color: white;
}


